.section{
    padding: 30px 15px;
    width: 60vw;
    border: 1px solid tomato;
    border-radius: 12px;
    margin: 5vh auto 0;
}

.btn{
    border-radius: 8px;
    border: transparent;
    padding: 8px 20px;
    background-color: #0b5892;
    color: honeydew;

}

.btn:hover{
    cursor: pointer;
    background-color: tomato;
}
