.title {
    text-align: center;
    margin-bottom: 60px;
    font-weight: 900;
    font-size: 40px;
}

.table {
    margin: auto;
    width: 70%;
    border-collapse: collapse;
}

.headTable {
    background-color: #03DAC5;
    color: #36076e;
}

.table th, .table td {
    border: 1px solid black;
    padding: 5px;
}


