.wrapper{
    display: flex;
    justify-content: space-around;
    margin: 60px 0;
}

.btn{
    background-color: orange;
    border: none;
    color: white;
    padding: 8px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 12px;
    transition-duration: 0.4s;
}

.btn:hover {
    background-color: lightskyblue;
    color: white;
}

.btn:disabled {
    background-color: gray;
    color: white;
}
