.postItem {
    padding: 16px;
    border: 1px solid darkorange;
    border-radius: 20px;
    margin-top: 20px;
}

.postBtn {
    width: 100%;
    padding: 4px 8px;
    border-radius: 8px;
    border: transparent;
    background-color: darkblue;
    color: ivory;
    font-size: 16px;
    font-weight: 600;
    transition: background-color 0.5s;
}

.postBtn:hover {
    background-color: darkorange;
}