.submitBtn{
    margin-left: 12px;
    width: 30%;
    border-radius: 8px;
    border: transparent;
    padding: 8px 20px;
    background-color: #0a920a;
    color: honeydew;
}

.submitBtn:hover{
    cursor: pointer;
    background-color: tomato;
}
.list{
    display: flex;
    padding: 8px 0;
    justify-content: space-between;
}

.text{
    margin-right: 12px;
}

.btn{
    margin-left: 12px;
    width: 30%;
    border-radius: 8px;
    border: transparent;
    background-color: #41a6e5;
    color: honeydew;
}

.btn:hover{
    cursor: pointer;
    background-color: tomato;
}
