.title {
    text-align: center;
    color: navy;
}

.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.item {
    width: 30%;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}

.item:hover {
    background-color: rgba(196, 224, 242, 0.67);
}